.wrapper-task {
    padding: 15px;
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 10px;
    color: grey;
    border-radius: 10px;
    
}

.todo {
    background-color: rgba(216, 188, 47, 0.677);
}

.inProgress {
    background-color: #bfd2e6;
}

.complete {
    background-color: #a3d1be;
}

.toRefactor {
    background-color: #b58c5d;
}

.task-delete {
    padding: 5px;
    border: none;
    background-color: rgb(177, 43, 43);
    color: white;
    font-weight: 500;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}


.task-text {
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.task-title {
    font-size: 18px;
}
