.wrapper-task {
    padding: 15px;
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 10px;
    color: black;
    border-radius: 10px;
    cursor: grab;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    background-color: white;
}



.task-delete {
    padding: 5px;
    border: none;
    background-color: rgb(177, 43, 43);
    color: white;
    font-weight: 500;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}


.task-text {
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.task-title {
    font-size: 18px;
}
